h1{
    color: antiquewhite;
    font-size: 48px;
}
.container{
    background-color: cadetblue;
    margin: 100px
}

.text{
    width: 40%;
    display: inline-block;
}

.img{
    width: 40%;
    display: inline-block;
}

.img img{
    width: 100%;
}